body { font-family: sans-serif; }

/* ---- grid ---- */

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

@media (max-width: 52em) {
  .grid-item {
    width: 50%;
  }  
}
@media (min-width: 52em) and (max-width: 70em) {
  .grid-item {  
    width: 33.33%;
    width: calc(100% / 3);
  }  
}
@media (min-width: 70em) and (max-width: 90em) {
  .grid-item {
    width: 25%;
  }  
}
@media (min-width: 90em) {
  .grid-item {
    width: 20%;
  }  
}
